body, html {
  font-family: sans-serif;
  font-size: 11pt;
}

/* A Modern kor pirosas háttere */
.vis-item.vis-background.negative {
  background-color: rgba(255, 0, 0, 0.2);
}

/* Az Antikvitás kékes háttere */
.vis-item.vis-background.antikvitas-stilus {
  background-color: rgba(0, 100, 255, 0.2);
}
