body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

#timeline {
    width: 95%;
    margin: 20px auto;
    border: 1px solid #aaa;
    background-color: white;
}

.premodern-bg {
    background-color: #fef0c6;
}

.modern-bg {
    background-color: #d4e8ff;
}

.vis-item.vis-background .vis-item-content {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    font-size: 1.2em;
    font-weight: bold;
}

/* Stílus a függőleges "mai nap" vonalhoz */
.vis-custom-time#currentYearLine {
    border-color: #ff5252;
    width: 2px;
    z-index: 10;
}

/* Stílus az évszám címkéhez */
.current-year-label.vis-point {
    border: none;
    background: none;
    transform: translate(-50%, -220px);
    background-color: #ff5252;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 11;
}
